* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: rgb(22, 25, 54);
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    gap: 20px;
}

.icon {
    color: white;
}

.navbar li {
    list-style: none;
}

.nav-links {
    display: flex;

}

.navbar a {
    text-decoration: none;
    color: white;
}

.nav-links li {
    margin-left: 20px;
}

.text {
    margin: 39px;
    color: black;
    font-weight: bold;

}

.mycart {
    font-size: 22px;
    font-weight: 700;
    color: #222;
    margin: 35px;
}

