*{
    margin:0px;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: rgb(123, 131, 203);
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}
.nav-links{
    display: flex;
    
}
.nav-links li{
    margin-left: 20px;
}
