* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    background-color: rgb(22, 25, 54);
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    gap: 20px;
}

.icon {
    color: white;
}

.navbar li {
    list-style: none;
}

.nav-links {
    display: flex;

}

.navbar a {
    text-decoration: none;
    color: white;
}

.nav-links li {
    margin-left: 20px;
}

.text {
    margin: 39px;
    color: black;
    font-weight: bold;

}

.cart-wrapper {
    display: flex;
    gap: 30px;
    padding: 20px;
}

.mycart {
    font-size: 22px;
    font-weight: 700;
    color: #222;
    margin: 35px;
}


.left-section {
    flex: 3;
}

.small-box {
    flex: 1;
    border: 2px solid #020202;
    padding: 20px;
    height: fit-content;
    border-radius: 7px;

}

.box {
    border: 2px solid #020202;
    padding: 20px;
    border-radius: 7px;
    margin-bottom: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-1 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

}

.top-2 {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
    font-weight: bold;

}

.price {
    font-weight: bold;
}

.bottom {
    display: flex;
    justify-content: space-between;
    background-color: #797777;
    padding: 8px;
    margin-top: 10px;
    font-weight: bold;

}

.bottom-2 {
    display: flex;
    justify-content: space-between;
    background-color: #797777;
    padding: 8px;
    margin-top: 10px;
    font-weight: bold;
}

.pay {
    width: 100%;
    padding: 10px;
    background-color: #fff0f0;
    color: rgb(18, 17, 17);
    border: none;
    margin-top: 15px;
    border: 2px solid #020202;
    font-weight: bold;

}